.contact-form__content {
  margin: 0 auto;
  padding: 100px 15px;
  max-width: 1230px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  border: solid 1px #000000;
  margin: 10px 30px;
}

.form__group-title {
  margin: 30px 10px;
}

.form__input--text {
  margin: -55px 200px 100px;
}

.form__group-content {
  display: flex;
  flex-direction: column;
}

.form__group-content label {
  margin-right: 10px;
}

.form__input--radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form__input--radio input {
  margin-right: 5px;
}

.form__radio-label {
  margin-right: 10px;
}

.form__group-content .form__input--datetime {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.form__input--datetime-separator {
  margin: 0px 5px;
}

.form__button {
  margin-top: 50px;
  text-align: center;
}

.form__button-submit {
  padding: 10px;
  width: 10%;
  height: 40px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.form__button__fix-reset {
  margin-top: 30px;
  text-align: center;
}

.form__button__fix-submit {
  padding: 0px;
  width: 10%;
  height: 0px;
  border: none;
  text-decoration: underline;
}

.category-table__inner {
  margin-bottom: 30px;
  text-align: left;
}

.category-table__row {
  display: flex;
  margin: 10px 0px 0px 35px;
  padding: 10px;
  list-style-type: none;
}

.category-table__header {
  margin: 0px 0px 0px 30px;
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.form__group__name {
  width: 50%;
  text-align: left;
}

.form__group__gender {
    width: 50%;
    text-align: left;
}

.form__group__entry {
      width: 100%;
      text-align: left;
}

.form__group__email {
  width: 100%;
  text-align: left;
}

.form__group__gender__radio {
  display: flex;
  flex-wrap: wrap;
}