.contact-form__content {
  margin: 0 auto;
  padding: 100px 15px;
  max-width: 1230px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  border: solid 1px #000000;
  margin: 10px 30px;
}

.form__group-title {
  margin: 30px 0px;
}

.form__input--radio{

  width: 100%;
  margin: 30px 0px 0px 30px;
}

.form__input--text {
  margin: -55px 200px 100px;
}

.form__input--datetime {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: -50px 0px 0px 195px;
}

.form__input--datetime-separator {
  margin: 0px 30px;
}

.form__group__email {
  margin: 30px 0px;
}

.form__button {
  width: 100%;
  text-align: center;
}

.form__button__fix-reset {
  width: 100%;
  text-align: center;
  padding-bottom: 0px;
}


.form__button-submit {
  padding: 10px;
  width: 10%;
  height: 40px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  cursor: pointer;
}



.form__button__fix-submit {
  padding: 0px;
  width: 10%;
  height: 0px;
  border: none;
  text-decoration: underline;
}

.page  {
  text-align: right;
  margin: 0px 10px 0px 30px;
  margin-left: auto;
  width: 10%;
  writing-mode: horizontal-tb;
}


.line {
  border-top: 3px double #8c8b8b;
}

.category-table {
  margin: 200px 0px 0px 0px;
}



.category-table__inner {

  width: 60%;
  margin: -250px 0px 500px 300px;
}

.category-table td {

  text-align: left;
}


.category-table__inner {
  margin-bottom: 30px;
  text-align: left;
}

.category-table__row {
  display: flex;
  margin: 10px 0px 0px 35px;
  padding: 10px;
  list-style-type: none;
}

.category-table__header {
  width: 20%
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.form__group__name {
  width: 50%;
  text-align: left;
}

.form__group__gender {
  width: 50%;
  text-align: left;
}

.form__group__entry {
  width: 100%;
  text-align: left;
}

.form__group__email {
  width: 100%;
  text-align: left;
}

.form__group__gender__radio {
  display: flex;
  flex-wrap: wrap;
}
svg.w-5.h-5 {
  width: 30px;
  height: 30px;
}
.delete-form__button-submit{
  width: 50px;
  margin: 0px 0px 0px 40px;
  color: #fff;
  cursor: pointer;
  background: #000;
}

.category-table__item__5 {
  width: 220px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}