.contact-form__content {
  margin: 0 auto;
  padding: 100px 15px;
  max-width: 1230px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  border: solid 1px #000000;
  margin: 10px 30px;
}

.form__group-title--name {
  margin: 30px 10px;

}

.form__input--text--name {
  margin: -55px 200px 100px;
}

.form__group-title--gender {
  margin: -120px 500px 100px;
}

.form-man--all {
  margin: -125px 500px 100px 600px;
}

.form-man--all--letter {
  margin: -125px 300px 100px 620px;
}

.form-sex-txt {
  margin: -26px 300px 100px 360px;
}

.form-man {
  margin: -123px 700px 0px 700px;
}

.form-man span {
  margin: 0px 10px;
}

.form-woman {
  margin: -123px 600px 0px 780px;

}

.form-woman-letter {

  margin: -24px 600px 0px 450px;
}

.form__group-title--day {
  margin: 30px 10px;
}

.form__input--text--datetime {
  margin: -55px 0px 10px 200px;
}

.form__group-title--email {
  margin: 30px 10px;
}

.form__input--text--email {
  margin: -55px 0px 10px 200px;
}


.form__button {
  margin-top: 70px;
  text-align: center;
}

.form__button-submit {
  padding: 10px;
  width: 10%;
  height: 40px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.form__button__fix-reset {
  margin-top: 0px;
  text-align: center;
}

.form__button__fix-submit {
  padding: 0px;
  width: 5%;
  height: 0px;
  border: none;
  text-decoration: underline;

}


.category-table__inner {
  margin-bottom: 30px;
  text-align: left;

}



.category-table__row {
  display: flex;
  margin: 10px 0px 0px 35px;
  padding: 10px;
  list-style-type: none;
}







.category-table__header__ID {
  width: 100px;
  margin: 0px 0px 0px 30px;
}
.category-table__header__name {
  width: 100px;
}

.category-table__header__gender {
  width: 100px;
  margin: 0px 0px 0px 50px;
}

.category-table__header__email {
  width: 150px;
  margin: 0px 0px 0px 30px;
}

.category-table__header__opinion {
  width: 100px;
  margin: 0px 0px 0px 120px;
}

.style {
  border-top: 3px double #8c8b8b;
}








.category-table__item1 {
  width: 70px;
  margin: 0px 0px 0px 30px;
}

.category-table__item2 {
  width: 100px;
  margin: 0px 0px 0px 10px;
}



.category-table__item3 {
  width: 50px;
  margin: 0px 0px 0px 80px;
}


.category-table__item4 {
  width: 350px;
}


.category-table__item5 {

  width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delete-form__button {
  margin: 0px 0px 0px 100px;
}
.delete-form__button-submit {
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  cursor: pointer;
}